{% extends "visite/main.html" %}
{% block title %}
LISTE DES MONUMENTS
{% endblock %}
{% block content %}

<h3>Liste de tout les monuments </h3>
<table>
    <thead>
    <tr>
        <th><abbr title="ID">ID</abbr></th>
        <th>Image</th>
        <th>Nom</th>
    </tr>
    </thead>
    <tbody>
    {% for i in monuments %}

    {{i}}
    <tr>
        <th>{{i.id}}</th>
        {% if i.image_monument %}
        <td><img src="{{ i.image_monument.url}}" width="200"></td>
        {% endif %}
        <td>{{i.nom_monument}}</td>
        <<td><a href="/visite/affichemonuments/{{i.id}}/"> afficher </a></td>
        <td><a href="/visite/updatemonuments/{{i.id}}/"> mettre a jour </a></td>
        <td><a href="/visite/deletemonuments/{{i.id}}/"> supprimer </a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}