<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> fiche {{lieu.pays}}</title>
</head>
<body>
<h1> {{lieu.ville}} </h1>
<p>La ville de  {{lieu.ville}} et est situé en  {{lieu.pays}}. Elle possede possède {{lieu.isite_par_an}} visite par an </p>
<h3> résumé </h3>
<p> {{livre.commentaires_faits}}</p>

<a href="/ajoutmonuments/"> AJOUTER UN MONUMENT</a>

<h2>
    Liste des monuments de {{ lieu.ville }}
</h2>

<ol>{% for i in monuments %}

<li>
    {{i}}
    <a href="/visite/deletemonuments/{{i.id}}/"> supprimer </a>
    <a href="/visite/updatemonuments/{{i.id}}/"> mettre a jour </a>
</li>
{% endfor %}
</ol>
</body>
</html>