<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" type="text/css" href="{%static 'visite/home.css' %}">
    <link href="https://font.googleleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="panel borderless">
                <button class="logo">AGENCE</button>
            </div>
            <nav>
                <ul>
                    <li>
                        <div class="panel">
                             <a href="/index/"> <button > NOS VILLES </button> </a>
                             <a href="/ajoutmonuments/" ><button >AJOUTER UN MONUMENT</button></a>
                             <a href="/ajout/" > <button > AJOUTER UNE VILLE</button></a>
                        </div>
                    </li>
                </ul>
            </nav>
            <button class="menu" > MENU </button>
        </div>

        <section class="row">
            <article class="col">
                <h1>Voyagez avec nous...</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo lorem et augue commodo, nec tristique erat eleifend. Proin bibendum.
                </p>
                <button type="button">Découvrir nos villes </button>
            </article>
            <article class="col">
                <a href="ajout/" >
                    <div class="sec sec1">
                        <h5>
                            Ajouter une ville
                        </h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo lorem et augue commodo, nec tristique erat eleifend. Proin bibendum.
                        </p>

                    </div>
                </a>
                <a href="ajoutmonuments/" >
                    <div class="sec sec2">
                        <h5>
                            Ajouter un monument
                        </h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo lorem et augue commodo, nec tristique erat eleifend. Proin bibendum.
                        </p>

                    </div>
                </a>
            </article>

        </section>

    </div>







</section>

</body>
</html>