<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{%static 'visite/home.css' %}">

</head>
<body>


    <header class="header">
        <div id="cont" class="container">
          <i class="fa-thin fa-island-tropical"></i>
          <nav class="navbar">


                <a href="affiche/"> NOS VILLES </a>
                <a href="ajout/"> POPULAIRES  </a>
                <a href="ajout/"> AJOUTER UNE VILLE</a>



          </nav>
        </div>
    </header>

{% block content %}

{% endblock %}
</body>

</html>